/**
 * Blog block.
 *
 * Displayed on the front page.
 */

#blog {

  background: url( '/assets/images/pattern-bg.svg' );
  padding: 4rem 2rem;

  // Read more section.
  .read-more {
    margin-top: 4rem;

    .h4 {
      font-weight: 500;
    }

    p {
      margin: 0;
    }

    .btn {
      margin-top: 0.5rem;
    }
  }

}
