/**
 * Code block.
 *
 * Displayed on the front page.
 */

#code {

  background: lighten( $blue, 25% );
  display: block;
  font-family: $monospace;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;

  @media screen and ( min-width: $medium ) {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
    margin: 0.5rem 0;

    @media screen and ( min-width: $medium ) {
      font-size: 1.25rem;
    }
  }

  a:not(.btn) {
    color: darken($red, 20%);

    &:hover {
      color: $grey;
      text-decoration: none;
    }
  }

  .btn.primary {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2rem;

    &:hover,
    &:focus {
      background: $orange;
    }
  }

}


// Inner container.
.code__div {

  margin: 0 auto;

  @media screen and ( min-width: $medium ) {
    padding: 4rem 0 2rem;
    width: 65%;
	}

}


// The actual code markup.
.code__dl {

  margin: 0 2rem;

  dt {
    clear: both;
    display: block;
    font-weight: bold;
    line-height: 1.5;
    width: 10rem;

    @media screen and ( min-width: $medium ) {
      float: left;
    }
  }

  dd {
    display: block;
    line-height: 1.5;
    margin-bottom: 1rem;

    @media screen and ( min-width: $medium ) {
      margin-bottom: 0;
      overflow: hidden;
    }
  }

}
