/**
 * Plugins block.
 *
 * Displayed on the front page.
 */

#plugins {

  background: url( '/assets/images/pattern-bg.svg' );
  padding: 4rem 2rem;

  // Button overrides.
  .btn {
    display: inline-block;
    margin-right: 1rem;
    max-width: 10rem;
  }

}
