/**
 * Tools block.
 *
 * Displayed on the front page.
 */

#tools {
  padding: 4rem 2rem;
}

#tools .tools-container {
  clear: both;

  @media screen and ( min-width: $medium ) {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and ( min-width: $large ) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#tools .tool {
  @include box();
  color: $white;
  padding: 1rem 1.5rem;
  transition: opacity 0.5s linear;

  @media screen and ( max-width: $medium ) {
    margin-bottom: 2rem;
  }

  &.css {
    background: $green;
  }

  &.javascript {
    background: darken( $purple, 10% );
  }

  &.utility {
    background: $blue;
  }

  &.hide {
    display: none;

    @media screen and ( min-width: $medium ) {
      display: inline-block;
      opacity: 0.1;

      a {
        cursor: default;
      }
    }
  }

  h3 {
    font-size: 1.44rem;
    line-height: 1.25;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .btn {
    background: rgba( 255, 255, 255, 0.85 );
    color: $black;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0;
    text-decoration: none;

    &:hover {
      background: $white;
    }
  }
}
