<section id="talks" aria-label="Public speaking">
  <div class="container">
    <h2 class="center">Talks.</h2>

    <div class="flex-container">
      <div class="flex-card">
        <h3>Accessible Web Development</h3>
        <p>We develop websites for everyone to use, so why not make sure that everyone is able to use our sites? We as developers need to plan for accessibility before we write our first line of code.</p>
        <p>This talk was given at NoVA CodeCamp in April 2017 and at ConvergeSE in June 2017.</p>
        <p><a href="http://www.thatdevgirl.com/talks/accessibility" class="btn primary" target="_blank" aria-label="Accessible Web Development slide deck">See slide deck</a></p>
      </div>

      <div class="flex-card">
        <h3>Introduction to SVG</h3>
        <p>Notes and example code for my introductory lecture about creating and using SVGs.</p>
        <p><a href="https://github.com/thatdevgirl/svg-intro" class="btn primary" target="_blank" aria-label="Introduction to SVG notes on GitHub">See notes on GitHub</a></p>
      </div>

      <div class="flex-card">
        <h3>Introduction to Ember</h3>
        <p>Notes and example code for my introductory lecture about using Ember.js.</p>
        <p><a href="https://github.com/thatdevgirl/ember-intro" class="btn primary" target="_blank" aria-label="Introduction to Ember notes on GitHub">See notes on GitHub</a></p>
      </div>

      <div class="flex-card">
        <h3>CSS Navigation</h3>
        <p>Video lecture tutorial on how to create a multi-level website navigation with only HTMl and CSS.</p>
        <p><a href="https://www.youtube.com/watch?v=3COhgSiF45c" class="btn primary" target="_blank" aria-label="CSS Navigation video on YouTube">View on YouTube</a></p>
      </div>
    </div> <!-- /.flex-container -->

  </div> <!-- /.container -->
</section>
