<section id="sites" aria-label="Websites">
  <div class="container">
    <h2 class="center">Sites.</h2>

    <div class="flex-container">
      <div class="flex-card">
        <a href="https://gumc.georgetown.edu" target="_blank" class="websites__a--screenshot">
          <img src="/assets/images/project-gumc.jpg" alt="Georgetown University Medical Center home page" />
        </a>

        <h3>
          <a href="https://gumc.georgetown.edu" target="_blank">Georgetown University Medical Center</a>
          <small>(2018)</small>
        </h3>

        <p class="tech-stack">WordPress, ReactJS, Sass, HTML</p>

        <p>
          I currently work full-time for Georgetown University as a Senior Javascript front-end developer in
          our University Information Services department.  I worked with a team of developers, designers,
          and product managers to create a flexible and responsive themes for the University's school websites.
        </p>

        <p>
          This site is part of a larger WordPress installation that includes individual sites and sites on a
          multi-site network. We are in the process of migrating our sites from Drupal and refactored that old
          theme to work with WordPress 5. I led the development of a series of custom core editor blocks, using
          ReactJS and the Gutenberg API, to meet our specific content needs. These blocks includes card decks,
          expandable content, custom list formats, and dynamic news blocks.
        </p>

        <p>
          <a href="https://gumc.georgetown.edu" target="_blank" class="btn primary" aria-label="View the GU Medical Center site">View Site</a>
        </p>
      </div>

      <div class="flex-card">
        <a href="http://www.boardgameinnovation.com" target="_blank" class="websites__a--screenshot">
          <img src="/assets/images/project-bgi.jpg" alt="Board Game Innovation home page" />
        </a>

        <h3>
          <a href="http://www.boardgameinnovation.com" target="_blank">Board Game Innovation</a>
          <small>(May 2017)</small>
        </h3>

        <p class="tech-stack">WordPress, WooCommerce, HTML 5, CSS, Bootstrap 4 (alpha), jQuery</p>

        <p>
          BGI reached out to me in early 2017 to redesign and replatform their website.  I created a new
          site design based on their logo and existing style guide standards. I also helped them evaluate
          several ecommerce platforms, including Shopify and WooCommerce, to determine which platform would
          best fit their needs.
        </p>

        <p>
          I implemented the design in WordPress with WooCommerce.  The site also includes custom functionality,
          including integration with Braintree for payment processing, integration with Stamps.com to provide
          shipping options, and support for international pricing and checkout.
        </p>

        <p>
          <a href="http://boardgameinnovation.com" target="_blank" class="btn primary" aria-label="View Board Game Innovation site">View Site</a>
        </p>
      </div>

      <div class="flex-card">
        <a href="https://mccourt.georgetown.edu" target="_blank" class="websites__a--screenshot">
          <img src="/assets/images/project-mccourt.jpg" alt="McCourt School home page" />
        </a>

        <h3>
          <a href="https://mccourt.georgetown.edu" target="_blank">McCourt School of Public Policy at Georgetown</a>
          <small>(2016)</small>
        </h3>

        <p class="tech-stack">Drupal 7, Bootstrap 4 (alpha), jQuery, Sass, HTML 5</p>

        <p>
          This site represents a group of older work that I developed at Georgetown University as a Senior Javascript
          front-end developer in our University Information Services department. At the time, our team created flexible
          and responsive Drupal 7 themes for the University's school and department websites.
        </p>

        <p>
          This site is part of a Drupal 7 multi-site implementation that includes 300+ other university
          sites, many of which use an older theme (for now).  Our biggest challenge was creating
          this theme using best practices while not affecting sites on the older theme, knowing that both themes
          share many back-end modules and features.
        </p>

        <p>
          <a href="https://mccourt.georgetown.edu" target="_blank" class="btn primary" aria-label="View the McCourt School of Public Policy site">View Site</a>
        </p>
      </div>

      <div class="flex-card">
        <a href="https://georgetown-university.github.io/whitehaven-playground/" target="_blank" class="websites__a--screenshot">
          <img src="/assets/images/project-playground.jpg" alt="Whitehaven code playground screenshot" />
        </a>

        <h3>
          <a href="https://georgetown-university.github.io/whitehaven-playground/" target="_blank">Whitehaven Code Playground @ Georgetown</a>
          <small>(2016)</small>
        </h3>

        <p class="tech-stack">Jekyll, jQuery, HTML 5, CSS, Bootstrap 4 (alpha)</p>

        <p>
          This site is also part of my work at Georgetown University. I created this site as part of our
          documentation efforts to encourage Drupal content editors be familiar with Bootstrap code
          supported in our website themes.
        </p>

        <p>
          Users can insert commonly used code blocks and immediately see what they will look like in our
          Drupal 7 theme.  (The theme's stylesheet is included on this page.) Users are also encouraged
          to play around with the code to update classes and add their own HTML as part of their
          training on the theme and Bootstrap.
        </p>

        <p>
          <a href="https://georgetown-university.github.io/whitehaven-playground/" target="_blank" class="btn primary" aria-label="View Whitehaven Code Playground site">View Site</a>
        </p>
      </div>

      <div class="flex-card">
        <div class="websites__a--screenshot">
          <img src="/assets/images/project-semanticclarity.jpg" alt="SemanticClarity home page" />
        </div>

        <h3>
          SemanticClarity
          <small>(February 2016)</small>
        </h3>

        <p class="tech-stack">Drupal 7, Sass, CSS, HTML 5</p>

        <p>
          SemanticClarity reached out to me in late 2015 about relaunching their website in parallel with
          an initiative to refocus their business strategy.
        </p>

        <p>
          I worked with them to create a new design based on their current branding and develop a flexible,
          responsive Drupal theme based on that design. The new site was on the Acquia platform. This site
          launced in early 2016, but the company no longer has a website, so this work is no longer available.
        </p>
      </div>

      <div class="flex-card">
        <a href="http://www.cct.org" target="_blank" class="websites__a--screenshot">
          <img src="/assets/images/project-cct.jpg" alt="Chicago Community Trust home page" />
        </a>

        <h3>
          <a href="http://www.cct.org" target="_blank">Chicago Community Trust</a>
          <small>(May 2015)</small>
        </h3>

        <p class="tech-stack">Wordpress, Javascript, SASS, CSS, HTML 5</p>

        <p>
          I led the development of this project while working at AMS. Our team of developers collaborated
          with the designer, managers, and content editors during the course of the project. The site won the 2015
          <a href="https://www.mediapost.com/ommaawards/winners/?event=2015" target="_blank">OMMA award for
          website excellence</a> in the charity/non-profit space.
        </p>

        <p>
          <a href="http://www.cct.org" target="_blank" class="btn primary" aria-label="View Chicago Community Trust site">View Site</a>
        </p>
      </div>

      <div class="flex-card">
        <div class="websites__a--screenshot">
          <img src="/assets/images/project-macys.jpg" alt="Macy's" />
        </div>

        <h3>
          Macy's Internal Application
          <small>(2014)</small>
        </h3>

        <p class="tech-stack">Backbone.js, Marionette, jQuery, Jasmine, CSS</p>

        <p>
          At Optaros, I was the lead front-end developer on a team that re-platformed the UI of Macy's
          internal product management application as a Backbone application, using Marionette, Require,
          Jasmine, jQuery, and a custom light-weight CSS grid framework. We are created a library of core
          UI components to be used by us throughout this application, as well as by other Macy's teams.
        </p>

        <p>
          My primary function on this team was to create component designs for each section of the application
          in development. These component designs included the Backbone model structure, necessary REST calls for
          a given section, and payloads for those REST calls.
        </p>
      </div>
    </div> <!-- /.flex-container -->

  </div> <!-- /.container -->
</section>
