<section id="code" aria-label="Code block">
  <div class="code__div">
    <p>const <strong>thatDevGirl</strong> = {</p>

    <dl class="code__dl">
      <dt>name:</dt>
      <dd>'Joni Halabi',</dd>

      <dt>description:</dt>
      <dd>'Senior web developer and instructor'</dd>

      <dt>location:</dt>
      <dd>'Washington DC',</dd>

      <dt>twitter:</dt>
      <dd>'<a href="https://twitter.com/jonihalabi">@jonihalabi</a>'</dd>

      <dt>status:</dt>
      <dd>'Hunkering down with my very active and curious toddler. OK for chatting.',</dd>
    </dl>

    <p>};</p>

    <a href="mailto:her@thatdevgirl.com" class="btn primary">Let's talk shop!</a>
  </div>

  <br>
</section>
