<section id="blog" aria-label="Blog articles">
  <div class="container">

    <h2 class="center">Blog.</h2>

    <div class="deck articles">
      {% for post in site.posts limit:5 %}
        <a class="card article" href="{{ post.url }}">
          <p class="title">{{ post.title }}</p>

          <p class="date">{{ post.date | date_to_long_string }}</p>

          <p class="excerpt">
            {{ post.content | strip_html | truncatewords:30 }}
          </p>
        </a>
      {% endfor %}
    </div>

    <div class="read-more">
      <p class="h4">Want to read more?</p>
      <p><a href="/blog/" class="btn primary wide">Check out all of my blog posts</a></p>
    </div>

  </div>
</section>
