<section id="talks" aria-label="Public speaking">
  <div class="container">

    <h2 class="center">Talks.</h2>

    <div class="deck">
      <div class="card">
        <h3>See What I Mean?: Data Visualization in WordPress</h3>
        <p>Data visualizations are graphical representations of large and small datasets. Usually, they are charts or graphs that make patterns in these datasets easier to understand. This developer-focused talk demonstrates how to use Google Sheets and SVGs to create a custom Gutenberg block that will display data in a responsive and accessible way.</p>
        <p>This talk was given at <a href="https://javascriptforwp.com/conference/">The Javascript for WordPress Conference 2020</a> <i>(July 2020)</i>. A <a href="https://talks.thatdevgirl.com/datavis-lightning">lightning talk version</a> was also given at <a href="https://2020.wpcampus.org/schedule/lightning-talks/data-visualization-in-wordpress/#video">WPCampus Online 2020</a> <i>(July 2020)</i></p>
        <p><a href="https://talks.thatdevgirl.com/datavis" class="btn blue" aria-label="Data Visualization in WordPress slide deck">See slide deck</a></p>
      </div>

      <div class="card">
        <h3>Customizing Gutenberg: Lessons Learned at Georgetown</h3>
        <p>The new Gutenberg editor comes with so many great content blocks. However, what if your editors have special use cases for their content that cannot be easily created with Gutenberg’s out-of-the-box blocks? At Georgetown, we have created a series of custom Gutenberg blocks in an effort to address our editors’ unique content needs.</p>
        <p>This talk was given at <a href="https://online.wpcampus.org/schedule/customizing-gutenberg-lessons-learned-at-georgetown/">WPCampus Online 2019</a> <i>(January 2019)</i>.</p>
        <p><a href="https://talks.thatdevgirl.com/gutenberg" class="btn blue" aria-label="Customizing Gutenberg slide deck">See slide deck</a></p>
      </div>

      <div class="card">
        <h3>Accessible Web Development</h3>
        <p>We develop websites for everyone to use, so why not make sure that everyone is able to use our sites? We as developers need to plan for accessibility before we write our first line of code.</p>
        <p>This talk was given at NoVA CodeCamp <i>(April 2017)</i> and <a href="http://convergese.com/2017/speakers-details.php#joni-halabi">ConvergeSE</a> <i>(June 2017)</i>. A <a href="https://talks.thatdevgirl.com/accessibility-edui">shorter version of this talk</a> was given at edUi <i>(September 2017)</i>.</p>
        <p><a href="https://talks.thatdevgirl.com/accessibility" class="btn blue" aria-label="Accessible Web Development slide deck">See slide deck</a></p>
      </div>

      <div class="card">
        <h3>Accessible Development Class</h3>
        <p>In addition to my Accessible Development conference talk, I have also lead a class for fellow Georgetown staff members about how to develop web sites in an accessible manner.</p>
        <p><a href="https://talks.thatdevgirl.com/accessibilityclass" class="btn blue" aria-label="Accessible Development class slide deck">See slide deck</a></p>
      </div>

      <div class="card">
        <h3>Design Tools</h3>
        <p>Slide deck from my mini class for new web developers on different design tools.</p>
        <p><a href="https://talks.thatdevgirl.com/designtools" class="btn blue" aria-label="Design Tools slide deck">See slide deck</a></p>
      </div>

      <div class="card">
        <h3>Introduction to SVG</h3>
        <p>Notes and example code for my introductory lecture about creating and using SVGs.</p>
        <p><a href="https://github.com/thatdevgirl/svg-intro" class="btn blue" aria-label="Introduction to SVG notes on GitHub">See notes</a></p>
      </div>

      <div class="card">
        <h3>Introduction to Ember</h3>
        <p>Notes and example code for my introductory lecture about using Ember.js.</p>
        <p><a href="https://github.com/thatdevgirl/ember-intro" class="btn blue" aria-label="Introduction to Ember notes on GitHub">See notes</a></p>
      </div>

      <div class="card">
        <h3>CSS Navigation</h3>
        <p>Video lecture tutorial on how to create a multi-level website navigation with only HTML and CSS.</p>
        <p><a href="https://www.youtube.com/watch?v=3COhgSiF45c" class="btn blue" aria-label="CSS Navigation video on YouTube">View on YouTube</a></p>
      </div>
    </div> <!-- /card deck -->

  </div> <!-- /.container -->
</section>
