<section id="code">
	<div class="code__div">
		<p>var <strong>thatDevGirl</strong> = {</p>

		<dl class="code__dl">
			<dt>name:</dt>
			<dd>'Joni Halabi',</dd>

			<dt>description:</dt>
			<dd>'Senior website developer and front-end instructor'</dd>

			<dt>location:</dt>
			<dd>'Washington DC',</dd>

			<dt>status:</dt>
			<dd>'<a href="mailto:her@thatdevgirl.com">Ready to work on your project!</a>',</dd>
		</dl>

		<p>};</p>

		<a href="mailto:her@thatdevgirl.com" class="btn primary">Hire me!</a>
	</div>

	<br>
</section>
