{% assign categories = site.categories | sort %}

<div class="archive-sidebar">

  <p>Topics</p>

  <ul>
    {% for category in categories %}
      <li>
        <a href="/blog/{{ category[0] }}">
          {{ category[0] | replace: "_", " " }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <p>Follow Me</p>

  <ul>
    <li><a href="/feed.xml" class="follow rss">rss feed</a></li>
    <li><a href="https://twitter.com/jonihalabi" class="follow twitter">twitter @jonihalabi</a></li>
  </ul>

</div>
