<section id="plugins" aria-label="Tools and Projects">
  <div class="container">

    <h2 class="center">WordPress Plugins.</h2>

    <div class="deck">
      <div class="card">
        <div class="top-image" style="background-image: url('/assets/images/plugin-besan-block.jpg')"></div>
        <h3>Besan Block Plugin</h3>
        <p>WordPress plugin that adds a post editor block to create charts from Google sheets.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/besan-block/" class="btn primary" aria-label="Besan Block plugin documentation">Docs</a>
          <a href="https://wordpress.org/plugins/besan-block/" class="btn primary" aria-label="Download the Besan Block plugin">Download</a>
        </p>
      </div>

      <div class="card">
        <div class="top-image" style="background-image: url('/assets/images/plugin-color-palette.jpg')"></div>
        <h3>Color Palette Plugin</h3>
        <p>Color palette creation plugin for WordPress.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/color-palette/" class="btn primary" aria-label="Color Palette plugin documentation">Docs</a>
          <a href="https://wordpress.org/plugins/color-palette/" class="btn primary" aria-label="Download the Color Palette plugin">Download</a>
        </p>
      </div>

      <div class="card">
        <div class="top-image" style="background-image: url('/assets/images/gist-autocomplete.jpg')"></div>
        <h3>Gutenberg Autocomplete Component</h3>
        <p>The existing OOTB Autocomplete component in the Gutenberg API is <a href="https://github.com/WordPress/gutenberg/issues/10542">broken</a>. This is a simple substitute.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/e20f72d5b985c6eab441bdf491b3edf0" class="btn primary" aria-label="Gutenberg Autocomplete Component Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="card">
        <div class="top-image" style="background-image: url('/assets/images/plugin-block-controller.jpg')"></div>
        <h3>ThreePM Block Controller</h3>
        <p>This WordPress plugin provides site administrators with the ability to turn on and off specific post editor (Gutenberg) content blocks.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/block-controller/" class="btn primary" aria-label="ThreePM Block Controller plugin documentation">Docs</a>
          <a href="https://wordpress.org/plugins/block-controller/" class="btn primary" aria-label="Download the ThreePM Block Controller plugin">Download</a>
        </p>
      </div>

      <div class="card">
        <div class="top-image" style="background-image: url('/assets/images/plugin-wc-tiered-shipping.jpg')"></div>
        <h3>WC Tiered Shipping Plugin</h3>
        <p>This WordPress plugin adds a tiered flat rate shipping option for the WooCommerce plugin.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/wc-tiered-shipping/" class="btn primary" aria-label="WC Tiered Shipping plugin documentation">Docs</a>
          <a href="https://wordpress.org/plugins/wc-tiered-shipping/" class="btn primary" aria-label="Download the WC Tiered Shipping plugin">Download</a>
        </p>
      </div>

    </div> <!-- /card deck -->

  </div> <!-- /.container -->
</section>
