<section id="code" aria-label="Code block">
	<div class="code__div">
		<p>var <strong>thatDevGirl</strong> = {</p>

		<dl class="code__dl">
			<dt>name:</dt>
			<dd>'Joni Halabi',</dd>

			<dt>description:</dt>
			<dd>'Senior website developer and front-end instructor'</dd>

			<dt>location:</dt>
			<dd>'Washington DC',</dd>

      <dt>twitter:</dt>
      <dd>'<a href="https://twitter.com/jonihalabi">@jonihalabi</a>'</dd>

			<dt>status:</dt>
			<dd>'Ready to work on your project!',</dd>
		</dl>

		<p>};</p>

		<a href="mailto:her@thatdevgirl.com" class="btn primary">Tell me what you need!</a>
	</div>

	<br>
</section>
