<section id="tools" aria-label="Tools and Projects">
  <div class="container">
    <h2 class="center">Tools and Projects.</h2>

    <div class="selector">
      <ul class="selector__ul">
        <li><a href="#" id="all" class="selected">All Projects</a></li>
        <li><a href="#" id="css">CSS</a></li>
        <li><a href="#" id="javascript">Javascript</a></li>
        <li><a href="#" id="utility">Utilities</a></li>
        <li><a href="#" id="wordpress">WordPress</a></li>
      </ul>
    </div>

    <div class="tools-container">
      <div class="tool css">
        <h3>Accessible Calendar</h3>
        <p>HTML and CSS-only accessible and responsive calendar.</p>
        <p>
          <a href="https://github.com/thatdevgirl/accessible-calendar" class="btn" aria-label="Accessible Calendar Github">GitHub</a>
        </p>
      </div>

      <div class="tool wordpress">
        <h3>AJAX "Load More" Pagination</h3>
        <p>Add a "load more" button to your archive and search results pages to dynamically load additional posts without pagination or page loads.</p>
        <p>
          <a href="/projects/load-more" class="btn" aria-label="AJAX Pagination documentation">Documentation</a>
          <br>
          <a href="https://github.com/thatdevgirl/wordpress-load-more" class="btn" aria-label="AJAX Pagination Github">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Backbone Recursive Navigation</h3>
        <p>This component is a Backbone.js model and view that can be used to construct an infinitely deep navigation or nested list.</p>
        <p>
          <a href="https://github.com/thatdevgirl/backbone-navigation" class="btn" aria-label="Backbone Recursive Navigation Github">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Backgrid Cell Extensions</h3>
        <p>This library contains a series of Backgrid cell extensions.</p>
        <p>
          <a href="https://github.com/thatdevgirl/backgrid-cell-extensions" class="btn" aria-label="Backgrid Cell Extensions Github">GitHub</a>
        </p>
      </div>

      <div class="tool wordpress">
        <h3>Besan Block Plugin</h3>
        <p>WordPress plugin that adds a post editor block to create charts from Google sheets.</p>
        <p>
          <a href="/projects/besan-block" class="btn" aria-label="Besan Block Plugin documentation">Documentation</a>
          <br>
          <a href="https://github.com/thatdevgirl/besan-block" class="btn" aria-label="Besan Block Plugin GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Character Counter</h3>
        <p>Character counter written in jQuery.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/c4e3199869258224353a5ecaf2fee271" class="btn" aria-label="Character Counter Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="tool wordpress">
        <h3>Color Palette Plugin</h3>
        <p>Color palette creation plugin for WordPress.</p>
        <p>
          <a href="/projects/color-palette" class="btn" aria-label="Color Palette Plugin documentation">Documentation</a>
          <br>
          <a href="https://github.com/thatdevgirl/wordpress-color-palette" class="btn" aria-label="Color Palette Plugin GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Color Sequencing Dialog</h3>
        <p>This color sequencing widget was developed as a proof of concept to reorder large numbers of content blocks inside a YUI dialog box.</p>
        <p>
          <a href="https://github.com/thatdevgirl/color-sequencing" class="btn" aria-label="Color Sequencing Dialog Github">GitHub</a>
        </p>
      </div>

      <div class="tool css">
        <h3>CSS Mega Menu</h3>
        <p>This simple mega navigation menu is inspired by the many mega menus on retail and other websites.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/977f9bb9282841143f88e56143803984" class="btn" aria-label="CSS Mega Menu Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="tool css">
        <h3>CSS-Only Menu</h3>
        <p>This simple navigation menu demonstrates how to create a main navigation menu with drop down sub-menus using just CSS.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/7fa8d69705948fb0fddd55e2476d9946" class="btn" aria-label="CSS Menu Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>CSV to JSON Converter</h3>
        <p>This script will convert a CSV file to JSON. That's it!</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/4566dac603ff9749b3b81e13b34d1eb8" class="btn" aria-label="CSV to JSON Converter Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="tool utility">
        <h3>Flickr Place Image</h3>
        <p>Script that uses the Flickr API to provide placeholder images for web developers and designers.</p>
        <p>
          <a href="https://github.com/thatdevgirl/flickr-place-image" class="btn" aria-label="Flickr Place Image GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool utility">
        <h3>GitHub to Trello Migration</h3>
        <p>This page/script allows you to migrate GitHub tickets into Trello.</p>
        <p>
          <a href="https://rawgithub.com/thatdevgirl/github-to-trello/master/index.html" class="btn" aria-label="GitHub to Trello Migration live preview">Live Preview</a>
          <br>
          <a href="https://github.com/thatdevgirl/github-to-trello" class="btn" aria-label="GitHub to Trello Migration GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool wordpress">
        <h3>Gutenberg Autocomplete Component</h3>
        <p>The existing OOTB Autocomplete component in the Gutenberg API is <a href="https://github.com/WordPress/gutenberg/issues/10542">broken</a>. This is a simple substitute.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/e20f72d5b985c6eab441bdf491b3edf0" class="btn" aria-label="Gutenberg Autocomplete Component Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="tool utility">
        <h3>Mimeocode</h3>
        <p>A node module to copy boilerplate code for new projects, cloned from other personal Github repos.</p>
        <p>
          <a href="https://github.com/thatdevgirl/mimeocode" class="btn" aria-label="Mimecode GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool utility">
        <h3>Peace</h3>
        <p>Facebook profile picture generator app that adds an image of the Earth over your existing profile picture.</p>
        <p>
          <!-- <a href="/peace" class="btn" aria-label="Peace application>Application</a> <br> -->
          <a href="https://github.com/thatdevgirl/peace" class="btn" aria-label="Peace GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Phone Number Conversion</h3>
        <p>A quick tool to convert plain phone numbers into accessible phone number links.</p>
        <p>
          <a href="https://georgetown-university.github.io/phone-conversion/" target="blank" class="btn" aria-label="Phone Conversion tool">Live Tool</a>
          <br>
          <a href="https://github.com/georgetown-university/phone-conversion/tree/gh-pages" class="btn" aria-label="Phone Conversion GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool utility">
        <h3>Prototype Helper</h3>
        <p>A utility site that lists and loads all of my favorite prototyping tools.</p>
        <p>
          <a href="https://helper.thatdevgirl.com" class="btn" aria-label="Prototype Helper Site">View Site</a>
        </p>
      </div>

      <div class="tool utility">
        <h3>Static Website Base</h3>
        <p>My personal standard base code for static websites.</p>
        <p>
          <a href="https://github.com/That-Dev-Girl-Boilerplates/static-website-base" class="btn" aria-label="Static Website Base GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Text Area Limit using YUI</h3>
        <p>This text area limit widget was developed as a proof of concept for implementing a character limit inside a text area.</p>
        <p>
          <a href="https://github.com/thatdevgirl/textarea-limit" class="btn" aria-label="Text Area Limit GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool wordpress">
        <h3>WooCommerce Tiered Shipping Plugin</h3>
        <p>This WordPress plugin adds a tiered flat rate shipping option for the WooCommerce plugin.</p>
        <p>
          <a href="/projects/wc-tiered-shipping" class="btn" aria-label="WooCommerce Tiered Shipping Plugin documentation">Documentation</a>
          <br>
          <a href="https://github.com/thatdevgirl/woocommerce-tiered-flat-rate" class="btn" aria-label="WooCommerce Tiered Shipping Plugin GitHub">GitHub</a>
        </p>
      </div>

      <div class="tool javascript">
        <h3>Word Counter</h3>
        <p>Simple word counter in jQuery.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/0c77878e1a0adfbcba017efb1e6e9c2b" class="btn" aria-label="Word Counter Github Gist">Github Gist</a>
        </p>
      </div>
    </div> <!-- /.flex-container -->

  </div> <!-- /.container -->
</section>
