<section id="plugins" aria-label="Tools and Projects">
  <div class="container">
    <h2 class="center">WordPress Plugins.</h2>

    <div class="flex-container">
      <div class="flex-card">
        <h3>AJAX "Load More" Pagination</h3>
        <p>Add a "load more" button to your archive and search results pages to dynamically load additional posts without pagination or page loads.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/load-more/" class="btn primary" aria-label="AJAX Load More Pagination plugin documentation">Documentation</a>
        </p>
      </div>

      <div class="flex-card">
        <h3>Besan Block Plugin</h3>
        <p>WordPress plugin that adds a post editor block to create charts from Google sheets.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/besan-block/" class="btn primary" aria-label="Besan Block plugin documentation">Documentation</a>
        </p>
      </div>

      <div class="flex-card">
        <h3>Color Palette Plugin</h3>
        <p>Color palette creation plugin for WordPress.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/color-palette/" class="btn primary" aria-label="Color Palette plugin documentation">Documentation</a>
        </p>
      </div>

      <div class="flex-card">
        <h3>Gutenberg Autocomplete Component</h3>
        <p>The existing OOTB Autocomplete component in the Gutenberg API is <a href="https://github.com/WordPress/gutenberg/issues/10542">broken</a>. This is a simple substitute.</p>
        <p>
          <a href="https://gist.github.com/thatdevgirl/e20f72d5b985c6eab441bdf491b3edf0" class="btn primary" aria-label="Gutenberg Autocomplete Component Github Gist">Github Gist</a>
        </p>
      </div>

      <div class="flex-card">
        <h3>WC Tiered Shipping Plugin</h3>
        <p>This WordPress plugin adds a tiered flat rate shipping option for the WooCommerce plugin.</p>
        <p>
          <a href="https://threepm.thatdevgirl.com/wc-tiered-shipping/" class="btn primary" aria-label="WooCommerce Tiered Shipping Plugin documentation">Documentation</a>
        </p>
      </div>

    </div> <!-- /.flex-container -->

  </div> <!-- /.container -->
</section>
