<header class="page-header" aria-label="Site header">
    <h1 class="page-header__h1">
        <a href="/" rel="home">That Dev Girl</a>
    </h1>

    <nav class="page-header__nav" aria-label="Site navigation">
        <ul>
            <li class="icon">
                <a href="mailto:her@thatdevgirl.com" title="E-mail That Dev Girl for more information">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="site-wrapper">
