<header class="page-header">
	<h1 class="page-header__h1">
		<a class="scroll" href="#top">That Dev Girl</a>
	</h1>

	<nav class="page-header__nav">
		<ul>
			<li><a class="scroll" href="#websites">Websites</a></li>
			<li><a class="scroll" href="#tools">Tools</a></li>
			<li><a class="scroll" href="#talks">Talks</a></li>

			<li class="icon">
				<a href="mailto:her@thatdevgirl.com" title="E-mail That Dev Girl for more information">
					<i class="fa fa-envelope"></i>
				</a>
			</li>
		</ul>
	</nav>
</header>

<main class="site-wrapper">
