#sites {
	background: url('/assets/images/pattern-bg.svg');
    padding: 4rem 0;

	h3 {
		margin: 2rem 1.5rem 1rem;

    a {
      text-decoration: none;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
	}

	p {
		margin: 0.5rem 1.5rem;
	}

  .tech-stack {
    color: $grey;
    font-weight: 400;
    margin: 0 1.5rem 1.5rem;
  }
}

.websites__a--screenshot {
	display: block;
	height: 10rem;
	overflow: hidden;

	@include media($medium_screen) {
		height: 13rem;
	}

	img {
		margin: 0;
		width: 100%;
	}

	&:hover {
		background: transparent;
	}
}
