.category {

  header {
    background: $blue;
    color: $white;
    padding: 3rem;

    h1 {
      font-family: $monospace;
      margin-bottom: 0;
    }
  }

  .list {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  ul li {
    margin-bottom: 2rem;

    p {
      margin-bottom: 0;
    }

    .title {
      font-size: 1.35rem;
    }
  }

  .more {
    background: url('/assets/images/pattern-bg.svg');
    margin-top: 6rem;
    padding: 3rem 0;

    p {
      margin: 0;
    }

    h2 {
      font-size: 1.65rem;
      text-align: left;
    }

    .btn.all {
      margin-bottom: 0;
      margin-top: 1rem;
      max-width: 18rem;
    }
  }

}
