footer {
    background: lighten($black, 10%);
    clear: both;
    padding: 1.5em 1em;
    
    p {
        @include font-size(12);
        color: $grey_light;
        margin: 0;
        text-align: center;
    }
}