a, .fa {
  transition: all 0.35s;
}

a {
  color: $red;

  &:hover {
    text-decoration: none;
  }
}

select {
  cursor: pointer;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

hr {
  border: 1px solid $blue;
  margin: 2rem 0;
}


/* ***
 * Buttons
 */

.btn {
  background: $white;
  border-radius: 5px;
  color: $black;
  display: block;
  font-family: Helvetica,sans-serif;
  margin: 2rem auto 1rem;
  max-width: 14rem;
  padding: .75rem 2rem;
  text-align: center;
  text-decoration: none;
  width: auto;

  @include media($medium_screen) {
    margin: 2em 0 1em;
  }

  &.primary {
    background: $red;
    color: $white;

    &:hover {
      background: $blue;
    }
  }

  &.large {
    font-size: 1.25rem;
  }
}


/* ***
 * Tables
 */

table {
  margin: 2rem 0;
  max-width: 600px;
  width: 90%;

  thead {
    background: $red;
    color: $white;
    text-align: left;
  }

  tbody tr {
    border-bottom: 1px solid $black;

    &:last-child {
      border: 0;
    }
  }

  td, th {
    @include paragraph(1.2rem);
    border-left: 1px solid $black;
    padding: 0.5rem 1rem;

    &:first-child {
      border: 0;
    }
  }

  th {
    border-color: $white;
  }
}
