/**
 * Colors
 */

$black:      #222;
$white:      #fff;

$grey:       #444;
$grey_light: #efefef;

$red:        #bb4030;
$red_light:  #f8ecea;

$purple:     #654aad;
$blue:       #237d89;
$green:      #21873b;
$orange:     #907227;
