/* ***
 * Colors
 */

$black:              #222;
$white:              #fff;

$grey:               #444;
$grey_light:         #efefef;

$red:                #bb4030;
$red_light:          #f8ecea;

$purple:             #5530bb;
$blue:               #237d89;
$green:              #21873b;
$orange:             #907227;

$blue_transparent:   rgba($blue, 0.8);
$orange_transparent: rgba($orange, 0.75);
