/* ***
 * Typography styles.
 */

/*
 * Font definitions.
 */

@font-face {
  font-family: 'Consolas';
  src: url('/assets/fonts/Consolas.ttf');
}


/*
 * Variables.
 */

$sans: 'Helvetica', sans-serif;
$monospace: 'Consolas', monospace;


/*
 * Styles.
 */

body {
  font-family: $sans;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0.5rem 0 1rem;

  small {
    color: $grey;
    font-size: 1rem;
    line-height: 1.5;
  }

  &.m-top {
    margin: 2rem 0 1rem;
  }
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
}

p {
  @include paragraph;
  margin: 0 0 1rem;
}

li {
  @include paragraph;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1.5rem 0 3rem;

  p {
    font-size: 1.4rem;
    font-style: italic;
    line-height: 1.4;

    &:before {
      content: '“';
      font-size: 1.8rem;
      font-weight: bold;
      padding-right: 0.25rem;
    }

    &:after {
      content: '”';
      font-size: 1.8rem;
      font-weight: bold;
      padding-left: 0.25rem;
    }
  }

  cite {
    margin-left: 2rem;

    &:before {
      content: '— ';
    }
  }
}

code {
  &.highlighter-rouge {
    color: $red;
  }
}
