/**
 * Single post page.
 */

.post {
  .container {
    @media screen and ( min-width: $large ) {
      max-width: 996px;
    }
  }


  // Blog header block.
  header {
    background: url( '/assets/images/pattern-bg.svg' );
    display: inline-block;
    width: 100%;

    .container {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    h1 {
      font-family: $monospace;
      font-size: 2.75rem;
      line-height: 1;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.9rem;
    }
  }


  // Taxonomy block.
  .taxonomy {
    background: lighten( $blue, 25% );
    padding: 0.75rem 0;

    p {
      font-size: 0.9rem;
      margin-bottom: 0;
    }

    a {
      background: $black;
      border-radius: 0.25rem;
      color: $white;
      display: inline-block;
      margin-right: 1rem;
      padding: 0.2rem 0.75rem;
      text-decoration: none;

      &:hover,
      &:focus {
        background: $red;
      }
    }
  }


  // Article block.
  .article {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }


  // Share icons.
  .share {
    background: lighten( $red, 5% );
    color: $white;
    margin-top: 5rem;
    padding: 1.5rem 0;

    .label {
      margin-right: 0.5rem;
    }

    a {
      background: $black;
      border: 1px solid $black;
      border-radius: 1.5rem;
      color: $white;
      display: inline-block;
      font-size: 1.25rem;
      height: 2rem;
      margin: 0 0.5rem;
      padding: 0.45rem 0;
      text-align: center;
      width: 3rem;

      &:hover,
      &:focus {
        background: lighten( $blue, 10% );
        border-color: lighten( $blue, 15% );
        color: $black;
      }
    }
  }

  // Other styles.
  h2 {
    margin: 4rem 0 1rem;
    text-align: left;
  }

  p, li {
    font-size: 1.2rem;
  }

  blockquote {
    border-left: 0.5rem solid $orange;
    margin: 2rem 0;
    padding: 1rem 0 0.5rem 2rem;

    p {
      line-height: 1.5;

      &:before, &:after {
        content: none;
      }
    }
  }

  img {
    border: 1px solid $grey;
    margin: 1rem 0;
    max-width: 100%;
  }

  figure {
    margin: 2rem 0;

    img {
      margin-bottom: 0;
    }

    figcaption {
      font-size: 0.9rem;
      font-style: italic;
      font-weight: 300;
      margin: 0.25rem 0;
    }
  }

  pre {
    background: $grey_light;
    margin: 2.5rem 0;
    padding: 1rem;
    white-space: pre-wrap;
  }

  code {
    font-family: $monospace;
    font-size: 1rem;
    font-weight: 300;

    .nt {
      color: darken( $red, 5% );
    }

    .na {
      color: darken( $blue, 5% );
    }

    .s {
      color: darken( $orange, 5% );
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol, ul {
    margin-left: 3rem;

    li {
      margin-bottom: 1rem;
      padding-left: 0.5rem;

      ol, ul {
        margin-top: 1rem;
      }
    }
  }
}
