/**
 * Article styles.
 */

.article {

  color: $black;
  margin-bottom: 0;
  padding: 2rem;
  text-decoration: none;

  &:first-of-type {
    .title {
      font-size: 2.074rem;
    }
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
  }

  // Article title.
  .title {
    font-family: $monospace;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }

  // Date section styles.
  p.date {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

}
