{% include site-header.html %}
{% include page-header-inner.html %}

<div class="category">
  <header>
    <div class="container">
      <h1>All blog posts.</h1>
    </div>
  </header>

  {% unless page.content == '' %}
    <div class="container">
      <p>{{ page.content }}</p>
    </div>
  {% endunless %}

  <!-- <div class="categories">
    <div class="container flex-container">
      <div class="flex-card">
        <p><b>Development</b></p>
      </div>

      <div class="flex-card">
        <p><b>Accessibility</b></p>
      </div>

      <div class="flex-card">
        <p><b>Javascript</b></p>
      </div>
    </div>
  </div> -->

  <div class="container list">
    <ul>
    {% for post in site.posts %}
      <li>
        <p>{{ post.date | date_to_long_string }}</p>
        <p class="title"><a href="{{ post.url }}">{{ post.title }}</a></p>

        <p>
          {% for category in post.categories %}
          <a href="/blog/{{category | replace: ' ', '_' }}" class="cat">{{ category | replace: "_", " " }}</a>
          {% endfor %}
        </p>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% include page-footer.html %}
{% include site-footer.html %}
