{% include site-header.html %}
{% include page-header-inner.html %}

<div class="archive-header">
  <div class="container">
    <h1>All blog posts.</h1>
  </div>
</div>

<div class="archive">
  <div class="container">

    {% unless page.content == '' %}
      {{ page.content }}
    {% endunless %}

    <ul class="deck three-across">
      {% for post in site.posts %}
        <li class="card article">
          <p class="date">
            {{ post.date | date_to_long_string }}
          </p>

          <p class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </p>

          <p class="excerpt">
            {{ post.content | strip_html | truncatewords:30 }}
          </p>

          <p class="categories">
            {% for category in post.categories %}
            <a href="/blog/{{category | replace: ' ', '_' }}" class="cat">{{ category | replace: "_", " " }}</a>
            {% endfor %}
          </p>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% include page-footer.html %}
{% include site-footer.html %}
