{% include site-header.html %}
{% include page-header-inner.html %}

<div class="archive-header">
  <div class="container">
    <h1>{{ page.category | capitalize | replace: "_", " "}} posts.</h1>
  </div>
</div>

<div class="archive">
  <div class="container">

    {% unless page.content == '' %}
      {{ page.content }}
    {% endunless %}

    <div class="deck articles">
      {% for post in site.categories[page.category] %}
        <a class="card article" href="{{ post.url }}">
          <p class="title">{{ post.title }}</p>

          <p class="date">
            {{ post.date | date_to_long_string }}
          </p>

          <p class="excerpt">
            {{ post.content | strip_html | truncatewords:30 }}
          </p>
        </a>
      {% endfor %}
    </div>

  </div>

  <div class="more">
    <div class="container">

      <h2>Want to read more?</h2>
      <p><a href="/blog" class="btn primary wide">Check out all of my blog posts</a></p>

    </div>
  </div>

</div>

{% include page-footer.html %}
{% include site-footer.html %}
