{% include site-header.html %}
{% include page-header-inner.html %}

<div class="about">
  <div class="about-inner">
    <div class="logo">
      <img src="/assets/images/thatdevgirl-logo-sm.png" alt="">
    </div>

    <h1 class="about__h1">
      Topic:
      {{ page.category | capitalize | replace: "_", " " | replace: "Wordpress", "WordPress" }}
    </h1>
  </div>
</div>

<div class="archive">
  <div class="container">

    {% unless page.content == '' %}
      {{ page.content }}
    {% endunless %}

    <div class="list">
      {% for post in site.categories[page.category] %}
        <div class="article">
          <p class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </p>

          <p class="date">
            {{ post.date | date_to_long_string }}
          </p>

          <p class="excerpt">
            {{ post.content | strip_html | truncatewords:30 }}
          </p>
        </div>
      {% endfor %}
    </div>

    {% include block-categories.html %}

  </div>

  <div class="more">
    <div class="container">

      <h2>Want to read more?</h2>
      <p><a href="/blog" class="btn primary wide">Check out all of my blog posts</a></p>

    </div>
  </div>

</div>

{% include page-footer.html %}
{% include site-footer.html %}
