/**
 * Page header.
 */

.page-header {

  background: rgba( 0, 0, 0, 0.85 ) ;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;

}


/*
 * Header logo.
 */

.page-header__h1 {

  font-size: 1rem;
  margin-bottom: 0;
  padding: 0.25rem;

  @media screen and ( min-width: $medium ) {
    float: left;
    margin: 0 1rem;
  }

  a {
    background: url( '/assets/images/thatdevgirl-logo.png' ) no-repeat center;
    background-size: contain;
    display: block;
    font-size: 0;
    height: 38px;
    width: 100%;

    @media screen and ( min-width: $medium ) {
      height: 40px;
      width: 253px;
    }
  }

}


/*
 * Navigation bar.
 */

.page-header__nav {

  background: $red;
  text-align: center;

  @media screen and ( min-width: $medium ) {
    background: transparent;
    float: right;
  }

  li {
    display: inline-block;

    &.icon {
      @media screen and ( min-width: $medium ) {
        border-left: 1px solid $white;
      }
    }

    @media screen and ( min-width: $medium ) {
      display: block;
      float: left;
    }
  }

  a {
    color: $white;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.5rem 0.75rem;
    text-decoration: none;

    &:hover {
      background: $red;
    }

    @media screen and ( min-width: $medium ) {
      padding: 0.8rem 1.5rem;
    }
  }

}
