/**
 * Main block layout.
 */

.site-wrapper {
  margin-top: 86px;

  @media screen and ( min-width: $medium ) {
    margin-top: 50px;
  }
}

.container {
  @media screen and ( min-width: $large ) {
    margin: 0 auto;
    max-width: 1024px;
  }
}
